<h2><%= @artist.name %> <%= link_to "(edit)", edit_artist_path%></a></h2>
<h4><%= @artist.nationality %></h4>

<%= image_tag @artist.photo_url, alt: "Photo of #{@artist.name}", class: "artist-photo" %>

<h3>Songs <a href="/songs/new">(+)</a></h3>

<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <a href="/songs/<%= song.id %>">
        <%= "#{song.title} (#{song.album})" %>
      </a>
    </li>
  <% end %>
</ul>
